[submodule "3rdparty/OculusSDK_0.5"]
	path = 3rdparty/OculusSDK_0.5
	url = ssh://lavapi/home/jochen/Documents/Server/git/oculussdk.git
	branch = master
[submodule "3rdparty/OculusSDK"]
	path = 3rdparty/OculusSDK
	url = ssh://lavapi/home/jochen/Documents/Server/git/oculussdk.git
	branch = 0.8
